* {
  margin: 0;
  padding: 0;
}

.card-gallery {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-color: black solid 2px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 22%;
  padding: 20px;
  justify-content: center;
}

